.App {
  text-align: center;

  .card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 3rem;
  padding: 10px 0 10px 0;
}
/* write your parent styles in here for your App.js */
