.person-card {
    opacity: 0.75;
    width: 300px !important;
    height: 120px;
    font-family: 'Darker Grotesque', sans-serif !important;
    font-size: 1.3rem;

    .stats {
        color: tomato !important;
    }

}